# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

__Objectives:__
- List popular languages for Data Science.



- Demonstrate arithmetic expression evaluation in Python.



- Create and format tables in Markdown.


- Build ordered and unordered lists in Markdown.

 - DS Lan
   1. Python
   2. Java
   3. Julia

 - DS Libraries
   1. Numpy
   2. Pandas
   3. Scikit-learn

| Data Science Tools |
| ------------------ |
| Jupyter Notebook   |
| RStudio            |
| Apache Zeppelin    |

### Below are a few examples of evaluating arithmetic expressions in Python

In [18]:
2 + 3
4 * 5
10 / 2

5.0

### This a simple arithmetic expression to mutiply then add integers

In [23]:
(3*4)+5

17

### This a simple arithmetic expression to mutiply then add integers

In [33]:
(200 / 60)

3.3333333333333335

## Autor: Rodrigo B